.filter-brightness {
  filter: brightness(40%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-hue-rotate {
  filter: hue-rotate(0.25turn);
}

.filter-shadow {
  filter: drop-shadow(20px -5px 25px #010030);
}

.filter-saturate {
  filter: saturate(390%);
}

.filter-custom {
  filter: brightness(0.7) drop-shadow(8px 2px 6px blue) contrast(4) invert(0.8);
}

.filter-grayscale {
  filter: grayscale(80%);
}
