/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.center {
  margin: 0 auto;
  inline-size: var(
    --section-inline-size,
    clamp(23.438rem, 50.077vw + 11.701rem, 43.75rem)
  );
}

.page {
  padding-block-start: 100px;
  color: var(--contrast-color, #000);
  font-family: var(--main-font, "Inter"), sans-serif;
  font-size: var(--primary-font-size, 1.125rem);
  line-height: var(--line-height, 1.18);
  background-image: var(--bg-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text, 400);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: var(--border, 2px solid #000);
  padding: var(--header-padding, clamp(7.5rem, 1.322vw + 7.19rem, 8rem)) 0;
  font-family: var(--accent-font, "PressStart2P"), cursive;
  text-align: center;
  text-transform: var(--text-case, uppercase);
  background-color: var(--base-color, #fff);
}

.logo {
  font-size: var(--logo-text-size, clamp(3.0625rem, 2.4427rem + 2.6446vw, 4.0625rem));
  line-height: var(--line-height, 1);
  text-decoration: none;
}

.heading {
  font-size: var(--heading-text-size, clamp(0.875rem, 0.5263rem + 1.4876vw, 1.4375rem));
}

.main {
  padding-block: 100px;
}

.section {
  margin-block-end: 50px;
}

.in-flow {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 25px);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.floppy__icon {
  inline-size: 21px;
}

@media (width < 376px) {
  .floppy__icon {
    inline-size: 28px;
    aspect-ratio: 1 / 1;
  }
}
